.idea/
Library/
Logs/
obj/
Temp/
UserSettings/
Assembly-CSharp.csproj/
NewGame.sln/
Assembly-CSharp.csproj
NewGame.sln
Assembly-CSharp-Editor.csproj
AudioKit.csproj
QFramework.CoreKit.csproj
QFramework.csproj
ResKit.csproj
ResKit.Editor.csproj
UIKit.csproj
UIKit.Editor.csproj
NewGame.sln.DotSettings.user
Assembly-CSharp.csproj.DotSettings
UIElementsSchema/
Assembly-CSharp-Editor.csproj.DotSettings
